#Ignore ALL items
data
Doxygen
extracted
Resource_Manager
tmp
auto_lines.ps1
xs.vsix
complete.md
AoMR.7z
MythLog.txt
MythSessionData.txt

#UNignore relevant items
!Danboys_**
!Danboys_**/**
!.gitignore
!AoMR.code-workspace
!aomr_vars.ps1
!.vs_code/**
!aomr.ps1